services:

  wireguard-vpn:
    image: ghcr.io/wgdashboard/wgdashboard:latest
    restart: always
    ports:
      - 51820:51820/udp
    volumes:
      - /srv/docker_data/wireguard/aconf:/etc/amnezia/amneziawg
      - /srv/docker_data/wireguard/wireguard:/etc/wireguard
      - /srv/docker_data/wireguard/data:/data
    environment:
      - username=admin
      - password=${WIREGUARD_DASHBOARD_PASSWORD}
    cap_add:
      - NET_ADMIN
    networks:
      vpn-net:
        ipv4_address: 10.8.0.2

  nextcloud-db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - /srv/docker_data/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${NEXTCLOUD_DB_MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - nextcloud-net
     
  nextcloud:
    image: nextcloud
    restart: always
    volumes:
      - /srv/docker_data/nextcloud:/var/www/html
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=cloud.internal
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=nextcloud-db
    extra_hosts:
      - "cloud.internal:172.20.0.10"
      - "collabora.cloud.internal:172.20.0.10"
    networks:
      - nextcloud-net

  nextcloud-collabora:
    image: collabora/code:latest
    restart: always
    environment:
      - password=${COLLABORA_PASSWORD}
      - username=collabora
      - aliasgroup1=https://cloud.internal
      - aliasgroup2=https://collabora.cloud.internal
      - aliasgroup3=https://cloud.internal:443
      - aliasgroup4=https://collabora.cloud.internal:443
      - server_name=collabora.cloud.internal
      - extra_params=--o:ssl.enable=true
    extra_hosts:
      - "cloud.internal:172.20.0.10"
      - "collabora.cloud.internal:172.20.0.10"
    networks:
      - nextcloud-net

  nextcloud-proxy:
    image: caddy:alpine
    restart: always
    volumes:
      - /srv/docker_data/nextcloud_proxy_caddy/certs:/certs
      - /srv/docker_data/nextcloud_proxy_caddy/config:/config
      - /srv/docker_data/nextcloud_proxy_caddy/data:/data
      - /srv/docker_data/nextcloud_proxy_caddy/srv:/srv
      - ./nextcloud_proxy.Caddyfile:/etc/caddy/Caddyfile
    networks:
      nextcloud-net:
        ipv4_address: 172.20.0.10
      vpn-net:
        ipv4_address: 10.8.0.3

  admin-tools-proxy:
    image: caddy:alpine
    restart: always
    volumes:
      - /srv/docker_data/nextcloud_proxy_caddy/certs:/certs
      - /srv/docker_data/nextcloud_proxy_caddy/config:/config
      - /srv/docker_data/nextcloud_proxy_caddy/data:/data
      - /srv/docker_data/nextcloud_proxy_caddy/srv:/srv
      - ./admin_tools_proxy.Caddyfile:/etc/caddy/Caddyfile
    networks:
      admin-tools-net
      vpn-net:
        ipv4_address: 10.8.0.4

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.20.2 # Temporary downgrade due to bug https://github.com/orgs/portainer/discussions/12926
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker_data/portainer:/data
    ports:
      - 9443:9443      

networks:
  vpn-net:
    ipam:
      config:
        - subnet: 10.8.0.0/24
        
  nextcloud-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

  admin-tools-net:
    ipam:
      config:
        - subnet: 172.30.0.0/24
    
