services:

  nextcloud-db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - /srv/docker_data/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/nextcloud_db_mysql_root_password
      - MYSQL_PASSWORD_FILE=/run/secrets/nextcloud_db_mysql_password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    secrets:
      - nextcloud_db_mysql_root_password
      - nextcloud_db_mysql_password
  
  nextcloud:
    image: nextcloud
    restart: always
    ports:
      - 80:80
    links:
      - nextcloud-db
    volumes:
      - /srv/docker_data/nextcloud:/var/www/html
    environment:
      - MYSQL_PASSWORD_FILE=/run/secrets/nextcloud_db_mysql_password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=nextcloud-db
    secrets:
      - nextcloud_db_mysql_password

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.20.2 # Temporary downgrade due to bug https://github.com/orgs/portainer/discussions/12926
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker_data/portainer:/data
    ports:
      - 9443:9443

secrets:
  nextcloud_db_mysql_root_password:
    file: /srv/docker_secrets/nextcloud_db_mysql_root_password.txt
  nextcloud_db_mysql_password:
    file: /srv/docker_secrets/nextcloud_db_mysql_password.txt

