services:

  wireguard-vpn:
    container_name: wireguard-vpn
    image: wgportal/wg-portal:v2
    cap_add:
      - NET_ADMIN
    ports:
      - "51820:51820/udp" 
      - "8888:8888/tcp"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
       - WG_PORTAL_CONFIG=/etc/wg-portal/config.yaml
       - WIREGUARD_PORTAL_ADMIN_SERVICE_USER_PASSWORD=${WIREGUARD_PORTAL_ADMIN_SERVICE_USER_PASSWORD}
       - WIREGUARD_PORTAL_ADMIN_API_TOKEN=${WIREGUARD_PORTAL_ADMIN_API_TOKEN}
    volumes:
      - /srv/docker_data/wg_portal/:/app/data
      - ./config/wireguard/wgportal_config.yaml:/etc/wg-portal/config.yaml:ro
    networks:
      - vpn-net

  nextcloud-db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - /srv/docker_data/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${NEXTCLOUD_DB_MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - nextcloud-net
     
  nextcloud:
    image: nextcloud
    restart: always
    volumes:
      - /srv/docker_data/nextcloud:/var/www/html
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=cloud.internal
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=nextcloud-db
    extra_hosts:
      - "cloud.internal:172.20.0.10"
      - "collabora.cloud.internal:172.20.0.10"
    networks:
      - nextcloud-net

  nextcloud-collabora:
    image: collabora/code:latest
    restart: always
    environment:
      - password=${COLLABORA_PASSWORD}
      - username=collabora
      - aliasgroup1=https://cloud.internal
      - aliasgroup2=https://collabora.cloud.internal
      - aliasgroup3=https://cloud.internal:443
      - aliasgroup4=https://collabora.cloud.internal:443
      - server_name=collabora.cloud.internal
      - extra_params=--o:ssl.enable=true
    extra_hosts:
      - "cloud.internal:172.20.0.10"
      - "collabora.cloud.internal:172.20.0.10"
    networks:
      - nextcloud-net

  nextcloud-proxy:
    image: caddy:alpine
    restart: always
    volumes:
      - /srv/docker_data/nextcloud_proxy_caddy/certs:/certs
      - /srv/docker_data/nextcloud_proxy_caddy/config:/config
      - /srv/docker_data/nextcloud_proxy_caddy/data:/data
      - /srv/docker_data/nextcloud_proxy_caddy/srv:/srv
      - ./nextcloud_proxy.Caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      nextcloud-net:
        ipv4_address: 172.20.0.10
      vpn-net:
        ipv4_address: 10.8.0.3

  admin-tools-proxy:
    image: caddy:alpine
    restart: always
    volumes:
      - /srv/docker_data/admin_tools_proxy_caddy/certs:/certs
      - /srv/docker_data/admin_tools_proxy_caddy/config:/config
      - /srv/docker_data/admin_tools_proxy_caddy/data:/data
      - /srv/docker_data/admin_tools_proxy_caddy/srv:/srv
      - ./admin_tools_proxy.Caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      admin-tools-net:
      vpn-net:
        ipv4_address: 10.8.0.4

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.20.2 # Temporary downgrade due to bug https://github.com/orgs/portainer/discussions/12926
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker_data/portainer:/data
    networks:
      - admin-tools-net

networks:
  vpn-net:
    ipam:
      config:
        - subnet: 10.8.0.0/24
        
  nextcloud-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

  admin-tools-net:
    ipam:
      config:
        - subnet: 172.30.0.0/24
    
