services:

  nextcloud-db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - /srv/docker_data/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${NEXTCLOUD_DB_MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - nextcloud-net
     
  nextcloud:
    image: nextcloud
    restart: always
    volumes:
      - /srv/docker_data/nextcloud:/var/www/html
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=cloud.internal
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=nextcloud-db
    extra_hosts:
      - "cloud.internal:172.20.0.10"
      - "collabora.cloud.internal:172.20.0.10"
    networks:
      - nextcloud-net

  nextcloud-collabora:
    image: collabora/code:latest
    restart: always
    environment:
      - password=${COLLABORA_PASSWORD}
      - username=collabora
      - aliasgroup1=https://cloud.internal
      - aliasgroup2=https://collabora.cloud.internal
      - aliasgroup3=https://cloud.internal:443
      - aliasgroup4=https://collabora.cloud.internal:443
      - server_name=collabora.cloud.internal
      - extra_params=--o:ssl.enable=true
    networks:
      - nextcloud-net

  nextcloud-proxy:
    image: caddy:alpine
    restart: always
    volumes:
      - /srv/docker_data/caddy/certs:/certs
      - /srv/docker_data/caddy/config:/config
      - /srv/docker_data/caddy/data:/data
      - /srv/docker_data/caddy/srv:/srv
    ports:
      - 443:443
      - 80:80
    configs:
      - source: nextcloud-proxy-caddyfile
        target: /etc/caddy/Caddyfile
    networks:
      nextcloud-net:
        ipv4_address: 172.20.0.10

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.20.2 # Temporary downgrade due to bug https://github.com/orgs/portainer/discussions/12926
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker_data/portainer:/data
    ports:
      - 9443:9443

configs:
  nextcloud-proxy-caddyfile:
    content: |
      https://cloud.internal:443 {
        tls internal
        reverse_proxy nextcloud:80
      }
      http://cloud.internal:80 {
        reverse_proxy nextcloud:80
      }
      https://collabora.cloud.internal {
        reverse_proxy nextcloud-collabora:9980 {
          transport http {
            tls_insecure_skip_verify
          }
      
          header_up X-Forwarded-For {remote_host}
          header_up X-Forwarded-Host {host}
          header_up X-Forwarded-Proto {scheme}
          header_up Host {host}
        }
      }

networks:
  nextcloud-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
    




