services:
  nextcloud-aio-mastercontainer:
    image: ghcr.io/nextcloud-releases/all-in-one:beta
    container_name: nextcloud-aio-mastercontainer
    restart: always
    init: true
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - nextcloud-net
    environment:
      APACHE_PORT: 11000
      APACHE_IP_BINDING: 0.0.0.0   # bind Apache to all interfaces inside container
      SKIP_DOMAIN_VALIDATION: true

  caddy:
    image: caddy:alpine
    container_name: caddy
    restart: always
    volumes:
      - caddy_certs:/certs
      - caddy_config:/config
      - caddy_data:/data
      - caddy_sites:/srv
    networks:
      - nextcloud-net
    ports:
      - 443:443   # expose HTTPS to the outside world
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile

configs:
  Caddyfile:
    content: |
      https://cloud.internal {
          tls internal
          reverse_proxy nextcloud-aio-mastercontainer:11000
      }

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
  caddy_certs:
  caddy_config:
  caddy_data:
  caddy_sites:

networks:
  nextcloud-net:
    driver: bridge
