networks:
   vpn-net:
     name: vpn-net
     ipam:
       config:
         - subnet: 10.200.200.0/24

services:
  nextcloud-aio-mastercontainer:
    image: ghcr.io/nextcloud-releases/all-in-one:beta
    init: true
    restart: always
    container_name: nextcloud-aio-mastercontainer
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      vpn-net:
        ipv4_address: 10.200.200.10
    environment:
      APACHE_PORT: 11000
      APACHE_IP_BINDING: 10.200.200.10
      SKIP_DOMAIN_VALIDATION: true

  caddy:
    image: caddy:alpine
    restart: always
    container_name: caddy
    volumes:
      - caddy_certs:/certs
      - caddy_config:/config
      - caddy_data:/data
      - caddy_sites:/srv
    networks:
      vpn-net:
        ipv4_address: 10.200.200.11
    configs:
      - source: Caddyfile
        target: /etc/caddy/Caddyfile

configs:
  Caddyfile:
    content: |
      https://cloud.internal:443 {
        tls internal
        reverse_proxy 10.200.200.10:11000
      }

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
  caddy_certs:
  caddy_config:
  caddy_data:
  caddy_sites:
