services:

  nextcloud-db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - /srv/docker_data/nextcloud_db:/var/lib/mysql
    env_file:
      - /srv/docker_secrets/secrets.env
    environment:
      - MYSQL_ROOT_PASSWORD=${NEXTCLOUD_DB_MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
  
  nextcloud:
    image: nextcloud
    restart: always
    ports:
      - 80:80
    links:
      - nextcloud-db
    volumes:
      - /srv/docker_data/nextcloud:/var/www/html
    env_file:
      - /srv/docker_secrets/secrets.env
    environment:
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=nextcloud-db

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.20.2 # Temporary downgrade due to bug https://github.com/orgs/portainer/discussions/12926
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker_data/portainer:/data
    ports:
      - 9443:9443

