services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /srv/nextcloud/config:/config
      - /srv/nextcloud/data:/data
    ports:
      - 443:443
    restart: unless-stopped

  yacht:
    container_name: yacht
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - yacht:/config
      - /var/run/docker.sock:/var/run/docker.sock
    image: selfhostedpro/yacht
